{
    "package.json": [
        "npm run format:package-json",
        "git add"
    ],
    ".editorconfig": [
        "prettier --write",
        "git add"
    ],
    "**/*.md": [
        "markdownlint"
    ],
    "**/*.{md,yaml,yml}": [
        "prettier --write",
        "git add"
    ],
    "**/*.{js,ts}": [
        "import-sort --write",
        "prettier --write",
        "eslint --cache --ext \".js,.jsx,.ts,.tsx\" --fix",
        "git add",
        "jest --bail --findRelatedTests"
    ]
}
